@*Define model*@
@model IEnumerable<Actor>


@*Define ViewData*@
@{
    ViewData["Title"] = "List of Actors";
}


@*Write Code*@
<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.ProfilePictureUrl)</th>
                    <th>@Html.DisplayNameFor(Model => Model.FullName)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@actor.ProfilePictureUrl" alt="@actor.FullName" style="max-width: 150px">
                        </td>
                        <td class ="align-middle">
                            @Html.DisplayFor(modelItem => actor.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => actor.Bio)
                        </td>
                        <td class="align-middle" style="min-width: 300px">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@actor.Id"><i class="bi bi-pencil-square">Edit</i></a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@actor.Id"><i class="bi bi-eye" >Details</i></a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@actor.Id"><i class="bi bi-trash">Delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div style="position: fixed; right:25px; bottom:25px;" class="text-white">
    <a asp-controller="Actors" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle">Add New</i></a>
</div>